.sign-up-form {
    margin: 10% auto;
    width: 40%;
    min-width: 400px;

    border-style: solid;
    border-color: black;
    border-radius: 30px;

    &__content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &__actions {
        margin: 0 auto;
        display: flex;
        align-content: space-between;
        width: 50%;
    }
}

.mat-form-field {
    .mat-input-element {
        color: gray;
    }

    .mat-form-field-label {
        color: black;
    }

    .mat-form-field-underline {
        background-color: gray;
    }

    .mat-form-field-ripple {
        background-color: gray;
    }

    .mat-form-field-required-marker {
        color: black;
    }
}

.mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #ff884d;
    }

    .mat-form-field-ripple {
        background-color: #ff884d;
    }

    .mat-form-field-required-marker {
        color: #ff884d;
    }

    .mat-input-element {
        color: #ff884d;
    }
}

.mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: red;
    }

    .mat-form-field-label {
        color: red;

        .mat-form-field-required-marker {
            color: red;
        }
    }

    .mat-form-field-ripple {
        background-color: red;
    }
}
