<h1>Boards</h1>
<button (click)="getBoard()">get</button>
<button (click)="createBoard()">create</button>
<button (click)="editBoard()">edit</button>
<button (click)="deleteBoard()">delete</button>
<button (click)="switchBoard1()">switch1</button>
<button (click)="switchBoard2()">switch2</button>
<hr>
<h1>Tasks</h1>
<button (click)="addTask()">create</button>
<button (click)="editTask()">edit</button>
<button (click)="deleteTask1()">delete1</button>
<button (click)="deleteTask2()">delete2</button>
<button (click)="logBoard()">log current board</button>
