<!--<div>-->
<!--  <button mat-raised-button color="warn" (click)="onSwitchBoard1()">Сменить борду на 1</button>-->
<!--  <button mat-raised-button color="warn" (click)="onSwitchBoard2()">Сменить борду на 2</button>-->
<!--  <button mat-raised-button color="warn" (click)="onGetBoard()">Получить список борд</button>-->
<!--  <button mat-raised-button color="warn" (click)="onAddBoard()">Добавить борду</button>-->
<!--  <button mat-raised-button color="warn" (click)="onDeleteBoard()">Удалить борду</button>-->
<!--  <button mat-raised-button color="warn" (click)="onEditBoard()">Отредактировать борду</button>-->
<!--</div>-->
<!--<app-dnd-field></app-dnd-field>-->

VSEM PREVED!
<button mat-raised-button color="warn" (click)="onLogout()">LOGOUT</button>
