<form [formGroup]="formGroup" class="login-form">
    <section class="login-form__content">
        <mat-form-field appearance="fill">
            <mat-label>username</mat-label>
            <input type="text" matInput formControlName="username" autocomplete="true" />
            <mat-error>
                <span
                    *ngIf="formGroup.controls['username'].errors && formGroup.controls['username'].errors['required']">
                    This field is required
                </span>
                <span
                    *ngIf="formGroup.controls['username'].errors && formGroup.controls['username'].errors['maxlength']">
                    Too many symbols
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                <mat-icon>
                    {{ hide ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </button>
            <mat-error>
            <span
                *ngIf="formGroup.controls['password'].errors && formGroup.controls['password'].errors['required']">
                This field is required
            </span>
                <span
                    *ngIf="formGroup.controls['password'].errors && formGroup.controls['password'].errors['maxlength']">
                Too many symbols
            </span>
            </mat-error>
        </mat-form-field>
    </section>
    <div class="login-form__actions">
        <button mat-button mat-raised-button (click)="onSubmit()">log in</button>
    </div>
</form>
