<div class="nav-tabs">
    <nav mat-tab-nav-bar class="nav-tabs__nav">
        <ng-container *ngFor="let item of items">
            <a mat-tab-link
               class="nav-tabs__item"
               [routerLinkActive]="activeLinkClassNames"
               #rla="routerLinkActive"
               [active]="rla.isActive"
               [routerLink]="item.link"
               [routerLinkActiveOptions]="{ exact: true }"
            >
                {{ item.title | titlecase }}
            </a>
        </ng-container>
    </nav>
    <ng-content></ng-content>
</div>
