<form [formGroup]="formGroup" class="sign-up-form std-form">
    <div class="std-form__content">
        <mat-form-field appearance="outline" class="std-form__form-field">
            <mat-label>First name</mat-label>
            <input type="text" matInput formControlName="firstName" autocomplete="true" />
            <mat-error>
                <span
                    *ngIf="formGroup.controls['firstName'].errors && formGroup.controls['firstName'].errors['required']">
                    This field is required
                </span>
                <span
                    *ngIf="formGroup.controls['firstName'].errors && !!formGroup.controls['firstName'].errors['maxlength']">
                    Too many symbols
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="std-form__form-field">
            <mat-label>Last name</mat-label>
            <input type="text" matInput formControlName="lastName" />
            <mat-error>
                <span
                    *ngIf="formGroup.controls['lastName'].errors && formGroup.controls['lastName'].errors['required']">
                    This field is required
                </span>
                <span
                    *ngIf="formGroup.controls['lastName'].errors && formGroup.controls['lastName'].errors['maxlength']">
                    Too many symbols
                </span>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="std-form__form-field">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="username" />
            <mat-error>
                <span
                    *ngIf="formGroup.controls['username'].errors && formGroup.controls['username'].errors['required']">
                    This field is required
                </span>
                <span
                    *ngIf="formGroup.controls['username'].errors && formGroup.controls['username'].errors['maxlength']">
                    Too many symbols
                </span>
            </mat-error>
        </mat-form-field>
        <div formGroupName="passwords" class="std-form__formgroup">
            <mat-form-field appearance="outline" class="std-form__form-field">
                <mat-label>Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" />
                <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>
                        {{ hide ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
                <mat-error>
                    <span *ngIf="formGroup.controls['passwords'].controls.password.errors &&
                        formGroup.controls['passwords']['controls']['password'].errors['required']">
                        This field is required
                    </span>
                    <span *ngIf="formGroup.controls['passwords']['controls']['password'].errors &&
                        formGroup.controls['passwords']['controls']['password'].errors['maxlength']">
                        Too many symbols
                    </span>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="std-form__form-field">
                <mat-label>Password confirm</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="passwordConfirm" />
                <mat-error>
                    <span *ngIf="formGroup.controls['passwords']['controls']['passwordConfirm'].errors &&
                        formGroup.controls['passwords']['controls']['passwordConfirm'].errors['required']">
                        This field is required
                    </span>
                    <span *ngIf="formGroup.controls['passwords']['controls']['passwordConfirm'].errors &&
                        formGroup.controls['passwords']['controls']['passwordConfirm'].errors['maxlength']">
                        Too many symbols
                    </span>
                    <span *ngIf="formGroup.controls['passwords']['controls']['passwordConfirm'].errors &&
                        formGroup.controls['passwords']['controls']['passwordConfirm'].errors['mismatch']">
                        Password mismatch
                    </span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="std-form__actions">
        <div class="sign-up-form__submit-btn-block">
            <div class="std-form__submit-btn-wrapper">
                <button mat-raised-button class="std-form__submit-btn" (click)="onSubmit()">Sign Up</button>
            </div>
            <a class="std-form__submit-btn-question">I already have an account</a>
        </div>
    </div>
</form>

