<div class='not-found-page'>
    <img
        ngSrc='https://image.spreadshirtmedia.net/image-server/v1/products/T1459A839PA4459PT28D170039071W10000H7750/views/1,width=550,height=550,appearanceId=839,backgroundColor=F2F2F2/error-404-sticker.jpg'
        class='not-found-page__img' width="550" height="550" priority>
    <h1 class='not-found-page__h1'>Oops! Page not found</h1>
    <button class='not-found-page__btn' mat-raised-button color='primary' [routerLink]='defaultPageRoute'>Home</button>
</div>
