.sign-in-form {
    border-radius: 6px;
    border: 1px solid black;
    min-width: 400px;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__form-field {

    }

    &__actions {

    }
}
