.header {

  display: flex;
  height: 100%;
  width: 100%;

  &__left {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: left;
  }
  &__right {
    display: flex;
    justify-content: right;
    height: 100%;
    width: 50%;
  }

  .element {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
  }
}
