<div class="header">
    <ng-container *ngIf="{ user: user$ | async } as state">
        <div class="header__content">
            <div class="header__left">
                <div class="header__logo"></div>
                <div class="header__title">
                    <ng-container *ngIf="state.user; then titleAuthed; else titleNotAuthed"></ng-container>
                    <ng-template #titleAuthed>
                        <div *ngIf="route === '/board-page'; else boardPage">
                            <span *ngIf="currentBoard$ | async as board; else loading">
                                {{ board.boardName }}
                            </span>
                            <ng-template #loading>Task Map</ng-template>
                        </div>
                        <ng-template #boardPage> Task Map</ng-template>
                    </ng-template>
                    <ng-template #titleNotAuthed> Task Map</ng-template>
                </div>
            </div>
            <div class="header__right">
                <ng-container *ngIf="state.user; then rightAuthed; else rightNotAuthed2"></ng-container>
                <ng-template #rightAuthed>
                    <div class="header__routes">
                        <a class="menu-item" mat-ripple [routerLink]="['/main-page']">
                            <span class="menu-item__title">Dashboard</span>
                        </a>
                        <a class="menu-item" mat-ripple [routerLink]="['/board-page']">
                            <span class="menu-item__title">Your Boards</span>
                        </a>
                    </div>
                    <div class="header__user">
                        <mat-icon svgIcon="account" class="account-icon"></mat-icon>
                    </div>
                </ng-template>
                <ng-template #rightNotAuthed2>
                    <a class="menu-item" mat-ripple (click)="onLogin()">
                        <span class="menu-item__title">Log In</span>
                    </a>
                    <a class="menu-item" mat-ripple (click)="onSignup()">
                        <span class="menu-item__title">Sign Up</span>
                    </a>
                    <div class="header__user">
                        <mat-icon svgIcon="account" class="account-icon"></mat-icon>
                    </div>
                </ng-template>
            </div>
        </div>
    </ng-container>
</div>
