$white: #fff;

.header {
    max-width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    background-color: $white;
    font-size: x-large;

    &__title {
        padding-left: 5vh;
        font-size: larger;
        font-weight: normal;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__left {
        margin-left: 5vh;
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        padding-right: 35px;
    }

    &__routes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user {
        height: 50px;
        width: 50px;
        background-color: black;
        border-radius: 50%;
    }
}

.menu-item {
    background-color: black;
    border-radius: 65px;
    height: 50px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;

    span {
        color: $white;
    }

    &--selected {
        transition: 0.3s ease-in-out;
        background-color: white;
        border: 2px solid black;
        scale: 1.01;

        span {
            color: black;
        }
    }
}

.account-icon {
    height: 50px;
    width: 50px;
}

.selected {
    color: black;
    background-color: $white;
    scale: 1.05;
}

