<header class="header">
    <div class="header__content">
        <div class="header__left" [routerLink]='defaultPageRoute'>
            <div class="header__name" *ngIf='(breakPoints.smallScreen$ | async) || (auth.isNotAuthed$ | async)'>TaskMap</div>
            <mat-icon svgIcon="logo" class="header__logo"></mat-icon>
        </div>

        <div class="header__right">
            <ng-container *ngIf="auth.isAuthed$ | async">
                <tm-authed-header></tm-authed-header>
            </ng-container>
        </div>
    </div>
</header>
