$white: #f5f4f4;

.header {
    max-width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: x-large;

    &__name {
        padding-left: 5vh;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__left {
        margin-left: 5vh;
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        padding-right: 35px;
    }
}

@media only screen and (max-width: 850px)  {
    .header {
        &__name {
            padding-left: 10px;
            height: 40px;
            min-width: 90px;
            margin-right: 10px;
        }
    }
}

