.authed-header {
    display: flex;
    flex-direction: row;

    &__menu-item {
        background-color: black;
        border-radius: 6px;
        height: 50px;
        min-width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 35px;
        $white: #f5f4f4;

        span {
            color: $white;
        }

        &--selected {
            transition: 0.3s ease-in-out;
            background-color: $white;
            border: 1px solid black;

            span {
                color: black;
            }
        }
    }

    &__icon {
        margin-right: 15px;
    }

    &__routes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1200px)  {
    .authed-header {
        &__menu-item {
            min-width: 180px;
        }
    }
}

@media only screen and (max-width: 850px)  {
    .authed-header {
        display: flex;
        flex-direction: row;
        font-size: 80%;

        &__menu-item {
            height: 40px;
            min-width: 160px;
            margin-right: 20px;
        }

        &__user {
            height: 25px;
            width: 25px;
            background-color: black;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }
}

