<div class="authed-header">
    <nav class="authed-header__routes">
        <a
            class="authed-header__menu-item"
            [routerLinkActive]="'authed-header__menu-item--selected'"
            [routerLink]="[routes.dashboardPageRoute]"
        >
            <span class="menu-item__title">Dashboard</span>
        </a>
        <tm-boards-menu>
            <a
                class="authed-header__menu-item"
                [routerLinkActive]="'authed-header__menu-item--selected'"
            >
                <span class="menu-item__title">Board</span>
            </a>
        </tm-boards-menu>
    </nav>

    <tm-profile-menu>
        <tm-user-avatar></tm-user-avatar>
    </tm-profile-menu>
</div>
