<div [matMenuTriggerFor]="profileMenu" class="profile-menu">
    <ng-content></ng-content>
</div>

<mat-menu #profileMenu="matMenu">
    <input type="file" accept="image/*" class="profile-menu__avatar-selector" (change)="selectFile($event)" #file />
    <div class='profile-menu__username'>{{ (userService.state() | async)?.username }}</div>
    <button mat-menu-item (click)="file.click()">
        <span>change avatar</span>
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-menu-item (click)="authService.logout()">
        <span>logout</span>
        <mat-icon>logout</mat-icon>
    </button>
</mat-menu>
