<div
    class="card-box"
    cdkDrag
    [cdkDragDisabled]="isTemplate"
    [ngClass]="['card-box--normal', 'card-box--' + task.color]"
    [cdkDragBoundary]="boundary"
    [cdkDragFreeDragPosition]="task.coordinates"
    (cdkDragEnded)="newTaskPosition($event)"
>
    <header class="card-text_header">
        <div class="card-text_header_label">{{ task.taskLabel }}</div>
        <div class="card-text_header_actions">
            <button class="action-button" style="transform: scale(0.85)" (click)="editTask()">
                <mat-icon>create</mat-icon>
            </button>
            <button class="action-button" (click)="deleteTask()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </header>
    <div class="card-text_body">
        {{ task.taskText }}
    </div>
    <div class="card-text_date">{{ task.createdDate | date: 'dd-MM-yyyy' }}</div>
</div>
