<div class="header-menu">
  <button matButton mat-raised-button color="primary"
          *ngIf="user"
  >
    User
  </button>
  <button mat-raised-button
          [routerLink]="'/main-page'"
  >
    Dashboard
  </button>
  <button mat-raised-button
          [routerLink]="'/board-page'"
          *ngIf="user"
  >
    Your Boards
  </button>
  <button mat-raised-button
          [routerLink]="'/login-page'"
          *ngIf="!user"
  >
    login
  </button>
  <button matButton mat-raised-button color="primary"
          [routerLink]="'/login-page'"
          (click)="Logout()"
          *ngIf="user"

  >
    Logout
  </button>
  <app-profile-multiselect-menu-button></app-profile-multiselect-menu-button>
</div>


