.board {
    width: 98%;
    height: 100%;
    margin: auto;
    border-style: dashed;
    border-radius: 40px;
    background-image: url('~assets/img/reticle.svg');
    position: relative;

    &__task-creator {
        position: relative;
        display: flex;
        justify-content: right;
        float: right;
        top: 3%;
        right: 1.5%;
    }
}

.loader {
    position: absolute;
    left: 45%;
    top: 45%;
}
