<div [class]="boundaryClassName" (contextmenu)="contextMenu($event)" #boardElement>
    <div *ngIf="user$ | async; else notAuthed">
        <div *ngIf="currentBoard$ | async; else loading">
            <div *ngIf="tasks$ | async as tasks; else loading" @smoothAppearance>
                <div *ngFor="let task of tasks">
                    <tm-card [task]="task" [boundary]="boundary"></tm-card>
                </div>
            </div>
        </div>
    </div>
    <ng-template #notAuthed>

    </ng-template>
    <ng-template #loading>
        <mat-spinner class="loader"></mat-spinner>
    </ng-template>
    <div class="board__task-creator">
        <tm-task-creator [boundaryCreator]="boundary"></tm-task-creator>
    </div>
</div>

