.container {
  width: 1280px;
  height: 720px;
  margin: 5vh auto;
  border-radius: 15px;
  border-style: dashed;
  border-radius: 4% 4% 4% 4% / 3% 4% 5% 4%;
  background-image: url('~src/assets/img/grid-background.png');
}


