<div class="dashboard-page">
    <div
        class="dashboard-page__boards"
        cdkDropListGroup
    >
        <div
            class="dashboard-page__board"
            *ngFor="let board of boards$ | async"
            cdkDropList
            [cdkDropListData]="board.tasks"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="vertical"
            [id]="setId(board.boardId)"
            (contextmenu)="onContextMenu($event, board)"
        >
            <div class="dashboard-page__board-header">
                <span>{{ board.boardName }}</span>
                <mat-icon *ngIf="board.isShared">folder_shared</mat-icon>
            </div>
            <div class="dashboard-page__task" *ngFor="let task of board.tasks" cdkDrag [cdkDragData]="task">
                <tm-card [task]="task"></tm-card>
                <tm-card [task]="task" *cdkDragPreview></tm-card>
            </div>
        </div>
    </div>

    <div style="visibility: hidden; position: fixed"
         [style.left]="contextMenuPosition.x"
         [style.top]="contextMenuPosition.y"
         [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="deleteBoard(item)">Delete board {{item.boardName}}</button>
        </ng-template>
    </mat-menu>
</div>
