.dashboard-page {
    margin: 10px auto;
    width: 92%;
    min-height: 80vh;

    &__boards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        justify-content: flex-start;
        row-gap: 10px;
    }

    &__board {
        background: radial-gradient(100% 100% at 50% 0%, #fefefe 0%, #f0f0f0 100%);
        border-radius: 6px;
        border: 1px solid #e5e4e4;
        width: 250px;
        transition: .5s ease-in-out;

        &-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            padding: 20px;

            mat-icon {
                margin-left: 10px;
            }
        }

        &:hover {
            box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.25);
        }
    }

    &__board-header {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        padding: 20px;
    }

    &__task {
        padding: 0 20px 20px 20px;
    }

    .cdk-drop-list-dragging .cdk-drag {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .cdk-drag-animating {
        transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
    }
}

@media only screen and (max-width: 870px)  {
    .dashboard-page {
        max-width: 600%;

        &__boards {
            justify-content: center;
        }
    }
}


@media only screen and (max-width: 930px)  {
    .dashboard-page {
        width: 620px;
    }
}

@media only screen and (max-width: 640px)  {
    .dashboard-page {
        width: 340px;
    }
}

@media only screen and (max-width: 450px)  {
    .dashboard-page {
        width: 300px;
    }
}
