<div class="dashboard-page">
    <div
        class="dashboard-page__boards"
        cdkDropListGroup
    >
        <div
            class="dashboard-page__board"
            *ngFor="let board of boards$ | async"
            cdkDropList
            [cdkDropListData]="board.tasks"
            (cdkDropListDropped)="drop($event)"
            cdkDropListOrientation="vertical"
            [id]="setId(board.boardId)"
            (contextmenu)="onContextMenu($event, board)"
        >
            <div class="dashboard-page__board-header">
                <span class="dashboard-page__board-header--left">{{ board.boardName }}
                    <mat-icon *ngIf="board.isShared" (click)='unShare(board)'>folder_shared</mat-icon>
                </span>
                <div class="dashboard-page__board-header--right">
                    <mat-icon (click)='editBoard(board)'>edit</mat-icon>
                    <mat-icon (click)='deleteBoard(board)'>close</mat-icon>
                </div>
            </div>
            <div class="dashboard-page__task" *ngFor="let task of board.tasks" cdkDrag [cdkDragData]="task">
                <tm-card [task]="task"></tm-card>
                <tm-card [task]="task" *cdkDragPreview></tm-card>
            </div>
        </div>
    </div>

    <div style="visibility: hidden; position: fixed"
         [style.left]="contextMenuPosition.x"
         [style.top]="contextMenuPosition.y"
         [matMenuTriggerFor]="contextMenu">
    </div>
    <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-item="item">
            <button mat-menu-item (click)="editBoard(item)">New Task</button>
            <button mat-menu-item (click)="editBoard(item)">Edit</button>
            <button mat-menu-item (click)="deleteBoard(item)">Delete</button>
        </ng-template>
    </mat-menu>
</div>
