<form [formGroup]="formGroup" class="edit-card-dialog">
    <header mat-dialog-title class="edit-card-dialog__header">
        <p *ngIf="isNew; else edit">Create New Task</p>
        <ng-template #edit>
            <p>Edit Task</p>
        </ng-template>
        <button [mat-dialog-close] class="edit-card-dialog__close-button">
            <mat-icon>close</mat-icon>
        </button>
    </header>
    <div mat-dialog-content class="edit-card-dialog__content">
        <mat-form-field>
            <mat-label>Label</mat-label>
            <input matInput type="text" formControlName="taskLabel" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Text</mat-label>
            <input matInput type="text" formControlName="taskText" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Color</mat-label>
            <mat-select formControlName="color">
                <div *ngFor="let color of Colors">
                    <mat-option [value]="color">{{ color }}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <div *ngFor="let state of States">
                    <mat-option [value]="state">{{ state }}</mat-option>
                </div>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="edit-card-dialog__actions">
        <button mat-raised-button class="mat-primary" (click)="onSubmit()">Submit</button>
        <button mat-button (click)="onCancel()">Cancel</button>
    </div>
</form>
